<div id="<%= dom_id menu %>">
  <p>
    <h2><%= menu.name %></h2>
      <% menu.dishes.each do |dish| %>
        <div>
        <%= dish.name %>
        <%= dish.price %>
        </div>
      <% end %>
  </p>

</div>
