<div id="<%= dom_id menu %>">
  <p>
    <strong>Name:</strong>
    <%= menu.name %>
      <% menu.dishes.each do |dish| %>
        <%= dish.name %>
        <%= dish.price %>
      <% end %>
  </p>

</div>
